[client]
port = 3306
socket = /tmp/mysql.sock

[mysqld]
port = 3306
server-id = 10010
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
init-connect = 'SET NAMES utf8mb4'
max_allowed_packet = 64M
socket = /tmp/mysql.sock
slow_query_log = ON
long_query_time = 0.5
default-time-zone = +8:00
log-bin = /var/lib/mysql/mysql-bin
#binlog_expire_logs_seconds = 2592000
explicit_defaults_for_timestamp = OFF
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
skip-name-resolve
